.DS_Store
*.local
*.log*
*.env*
!.env.example
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock*
*-lock.*
node_modules
coverage
build
dist
logs
lib
.docz
.cache
.vercel
.vscode
.idea
.yarn
test-results
playwright-report
blob-report
playwright/.cache
