:root {
  --rem-size: 20px;
  --line-height: 1.2;
  --fnt-regular: "Times New Roman", "Optima", sans-serif;
  --hover-timing: 150ms;
  --border-pdf: 1px solid hsl(0, 0%, 0%);
  --lgt-clr: hsl(0, 0%, 100%, 0.05);
  --drk-clr: hsl(0, 0%, 0%, 0.1);
  --fnt-clr-2nd: hsl(0, 0%, 100%, 0.75);
  --fnt-clr-3rd: hsl(0, 0%, 100%, 0.5);
  --fnt-clr-plc: hsl(0, 0%, 100%, 0.5);
  --shdw-thck: 0.1rem;

  --hsl-blu: 220, 100%, 40%;
  --hsl-grn: 120, 100%, 50%;

  --bg-clr: hsl(0, 0%, 25%);
  --bg-fnt: hsl(0, 0%, 100%);
  --bg-blu: hsl(var(--hsl-blu));
  --bg-grn: hsl(var(--hsl-grn));
  --bg-gry: hsl(0, 0%, 15%);
  --bg-red: hsl(0, 100%, 35%);
  --bg-ylw: hsl(60, 100%, 30%);
  --bg-non: hsl(0, 0%, 0%, 0);

  --gap-r: 0.25rem; /* same as --gap-s looks nice */
  --pad-r-x: 0.75rem;
  --pad-r-y: 0.5rem;
  --pad-r: var(--pad-r-y) var(--pad-r-x);
  --fnt-r: 1rem;

  --gap-s: 0.25rem;
  --pad-s-x: 0.5rem;
  --pad-s-y: 0.25rem;
  --pad-s: var(--pad-s-y) var(--pad-s-x);
  --fnt-s: 0.85rem;

  --sbar-bg-clr: hsl(0, 0%, 100%, 0);
  --sbar-thb-clr: hsl(0, 0%, 100%, 0.05);
  --sbar-wid-mse: 1rem; /* mouse */
  --sbar-wid-tch: 2rem; /* touch */
  --sbar-bdr-wid: 0.1rem;
  --sbar-spc-ard: 0;
  --sbar-bdr-clr: transparent;
}

html {
  font-size: var(--rem-size);
}

body {
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  font-family: var(--fnt-regular);
  line-height: var(--line-height);
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  background-color: var(--bg-clr);
  color: var(--bg-fnt);
}

div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* overflow: auto; <- can not use when generating pdf */
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  background-color: var(--sbar-bg-clr);
}

::-webkit-scrollbar:vertical {
  width: var(--sbar-wid-mse);
  @media (pointer: coarse) {
    width: var(--sbar-wid-tch);
  }
}

::-webkit-scrollbar:horizontal {
  height: var(--sbar-wid-mse);
  @media (pointer: coarse) {
    height: var(--sbar-wid-tch);
  }
}

::-webkit-scrollbar-corner {
  background-color: var(--sbar-bg-clr);
}

::-webkit-scrollbar-thumb {
  --s1: var(--shdw-thck);
  --s2: calc(var(--s1) * -1);
  box-shadow: inset var(--s1) var(--s1) 0 0 var(--fnt-clr-plc),
    inset var(--s2) var(--s2) 0 0 hsl(0, 0%, 0%, 0.5);
  background-color: var(--sbar-thb-clr);
  background-clip: padding-box;
  border: var(--sbar-spc-ard) solid transparent;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 10rem;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 10rem;
}
